%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform},
    debug_info
]}.

{deps_dir, "../"}.

{deps,
 [
  {lager, ".*",
    {git, "https://github.com/imdeps/lager.git", "release"}}
 ]}.

{cover_enabled, true}.

{ct_opts, [{verbose,true}]}.

{profiles, [
           {test, [{erl_opts, [
                        {i,["include"]}
                    ]}
                  ]
           }]
}.
